	.title-head{
                		text-align: center;
                		color: green;
                		font-family: sans-serif;
                	.new-p{
                		font-family: monospace;
                		font-size: 18px;
                		color: grey;
                	}